In [1]:
#import the necessary libraries
import pandas as pd
import numpy as np

In [2]:
#Read the movie Dataset
i_cols = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
    'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
    'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
items = pd.read_csv('ml-100k/u.item', sep='|', names=i_cols,encoding='latin-1')

In [3]:
# Select only needed Item
movie_content=items[['movie id','movie title','Action', 'Adventure',
    'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
    'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']]

In [4]:
movie_content

,movie id,movie title,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1678,Mat' i syn (1997),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1678,1679,B. Monkey (1998),0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0
1679,1680,Sliding Doors (1998),0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
1680,1681,You So Crazy (1994),0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1681,1682,Scream of Stone (Schrei aus Stein) (1991),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [5]:
#read the ratings dataset
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv('ml-100k/u.data', sep='\t', names=r_cols,encoding='latin-1')

In [6]:
ratings

       user_id  movie_id  rating  unix_timestamp
0          196       242       3       881250949
1          186       302       3       891717742
2           22       377       1       878887116
3          244        51       2       880606923
4          166       346       1       886397596
...        ...       ...     ...             ...
99995      880       476       3       880175444
99996      716       204       5       879795543
99997      276      1090       1       874795795
99998       13       225       2       882399156
99999       12       203       3       879959583

[100000 rows x 4 columns]

In [7]:
#Setting the innge value from 1 to 1682
movie_content.index=range(1,1683)

In [8]:
movie_content

,movie id,movie title,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
1,1,Toy Story (1995),0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
2,2,GoldenEye (1995),1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,3,Four Rooms (1995),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
4,4,Get Shorty (1995),1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
5,5,Copycat (1995),0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1678,1678,Mat' i syn (1997),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1679,1679,B. Monkey (1998),0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0
1680,1680,Sliding Doors (1998),0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
1681,1681,You So Crazy (1994),0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1682,1682,Scream of Stone (Schrei aus Stein) (1991),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [10]:
#function to get the movie_vector categoriesin a single list for ecah movie_id
def movie_category_list(ds):
    melted_df = pd.melt(ds, id_vars=['movie id', 'movie title'], var_name='category', value_name='value')
    filtered_df = melted_df[melted_df['value'] == 1]
    movie_cate_df = filtered_df.groupby(['movie id', 'movie title'])['category'].apply(list).reset_index()
    return movie_cate_df

In [11]:
#calling the function
movie_cate_df = movie_category_list(movie_content)

In [12]:
movie_cate_df

,movie id,movie title,category
0,1,Toy Story (1995),"[Animation, Children's, Comedy]"
1,2,GoldenEye (1995),"[Action, Adventure, Thriller]"
2,3,Four Rooms (1995),[Thriller]
3,4,Get Shorty (1995),"[Action, Comedy, Drama]"
4,5,Copycat (1995),"[Crime, Drama, Thriller]"
...,...,...,...
1675,1678,Mat' i syn (1997),[Drama]
1676,1679,B. Monkey (1998),"[Romance, Thriller]"
1677,1680,Sliding Doors (1998),"[Drama, Romance]"
1678,1681,You So Crazy (1994),[Comedy]
1679,1682,Scream of Stone (Schrei aus Stein) (1991),[Drama]

In [17]:
#retrieving the top five movies based on users watched times for each category
def movie_cate_counts(ds1,ds2,movie_count):
    flattened_df = ds1.explode('category').rename(columns={'movie id': 'movie_id'})
    movie_ratings = pd.merge(flattened_df, ds2.drop('unix_timestamp', axis=1), on='movie_id')
    movie_ratings_user_counts = movie_ratings.groupby(['user_id', 'category', 'movie_id','movie title']).size().reset_index(name='count')
    movie_category_count = movie_ratings_user_counts.groupby(['category', 'movie_id','movie title'])['user_id'].nunique().reset_index(name='count')
    sorted_movies = movie_category_count.sort_values(by=['category', 'count'], ascending=[True, False])
    top_movies_categorywise = sorted_movies.groupby('category').head(movie_count).reset_index(drop=True)
    unique_categories = top_movies_categorywise['category'].unique()
    categories_list=list(unique_categories)
    recommend_movies=[]
    for cate in categories_list:
        movie_with_count=top_movies_categorywise[top_movies_categorywise['category']==cate][['category','movie title','count']].values
        recommend_movies.append(movie_with_count)
    return recommend_movies

In [18]:
recommend_movies= movie_cate_counts(movie_cate_df,ratings,5)

## These are the movies to be recommended for new users under each movie categories

In [19]:
recommend_movies

[array([['Action', 'Star Wars (1977)', 583],
        ['Action', 'Return of the Jedi (1983)', 507],
        ['Action', 'Air Force One (1997)', 431],
        ['Action', 'Independence Day (ID4) (1996)', 429],
        ['Action', 'Raiders of the Lost Ark (1981)', 420]], dtype=object),
 array([['Adventure', 'Star Wars (1977)', 583],
        ['Adventure', 'Return of the Jedi (1983)', 507],
        ['Adventure', 'Raiders of the Lost Ark (1981)', 420],
        ['Adventure', 'Rock, The (1996)', 378],
        ['Adventure', 'Empire Strikes Back, The (1980)', 367]],
       dtype=object),
 array([['Animation', 'Toy Story (1995)', 452],
        ['Animation', 'Lion King, The (1994)', 220],
        ['Animation', 'Aladdin (1992)', 219],
        ['Animation', 'Beauty and the Beast (1991)', 202],
        ['Animation', 'Fantasia (1940)', 174]], dtype=object),
 array([["Children's", 'Toy Story (1995)', 452],
        ["Children's", 'Willy Wonka and the Chocolate Factory (1971)',
         326],
        ["Children's", 'E.T. the Extra-Terrestrial (1982)', 300],
        ["Children's", 'Wizard of Oz, The (1939)', 246],
        ["Children's", 'Lion King, The (1994)', 220]], dtype=object),
 array([['Comedy', 'Liar Liar (1997)', 485],
        ['Comedy', 'Toy Story (1995)', 452],
        ['Comedy', 'Back to the Future (1985)', 350],
        ['Comedy', 'Willy Wonka and the Chocolate Factory (1971)', 326],
        ['Comedy', 'Princess Bride, The (1987)', 324]], dtype=object),
 array([['Crime', 'Fargo (1996)', 508],
        ['Crime', 'Godfather, The (1972)', 413],
        ['Crime', 'Pulp Fiction (1994)', 394],
        ['Crime', 'L.A. Confidential (1997)', 297],
        ['Crime', 'Usual Suspects, The (1995)', 267]], dtype=object),
 array([['Documentary', 'Hoop Dreams (1994)', 117],
        ['Documentary', 'Crumb (1994)', 81],
        ['Documentary', 'Celluloid Closet, The (1995)', 56],
        ['Documentary', 'Looking for Richard (1996)', 55],
        ['Documentary', 'Koyaanisqatsi (1983)', 53]], dtype=object),
 array([['Drama', 'Contact (1997)', 509],
        ['Drama', 'Fargo (1996)', 508],
        ['Drama', 'English Patient, The (1996)', 481],
        ['Drama', 'Godfather, The (1972)', 413],
        ['Drama', 'Pulp Fiction (1994)', 394]], dtype=object),
 array([['Fantasy', 'E.T. the Extra-Terrestrial (1982)', 300],
        ['Fantasy', 'Nutty Professor, The (1996)', 163],
        ['Fantasy', 'Dragonheart (1996)', 158],
        ['Fantasy', 'Mask, The (1994)', 129],
        ['Fantasy', 'Jumanji (1995)', 96]], dtype=object),
 array([['Film-Noir', 'L.A. Confidential (1997)', 297],
        ['Film-Noir', 'Blade Runner (1982)', 275],
        ['Film-Noir', 'Chinatown (1974)', 147],
        ['Film-Noir', 'Maltese Falcon, The (1941)', 138],
        ['Film-Noir', 'Manchurian Candidate, The (1962)', 131]],
       dtype=object),
 array([['Horror', 'Scream (1996)', 478],
        ['Horror', 'Alien (1979)', 291],
        ['Horror', 'Jaws (1975)', 280],
        ['Horror', 'Psycho (1960)', 239],
        ['Horror', 'Shining, The (1980)', 206]], dtype=object),
 array([['Musical', 'Evita (1996)', 259],
        ['Musical', 'Blues Brothers, The (1980)', 251],
        ['Musical', 'Wizard of Oz, The (1939)', 246],
        ['Musical', 'Sound of Music, The (1965)', 222],
        ['Musical', 'Lion King, The (1994)', 220]], dtype=object),
 array([['Mystery', 'Mission: Impossible (1996)', 344],
        ['Mystery', 'L.A. Confidential (1997)', 297],
        ['Mystery', 'Conspiracy Theory (1997)', 295],
        ['Mystery', 'Amadeus (1984)', 276],
        ['Mystery', '2001: A Space Odyssey (1968)', 259]], dtype=object),
 array([['Romance', 'Star Wars (1977)', 583],
        ['Romance', 'Return of the Jedi (1983)', 507],
        ['Romance', 'English Patient, The (1996)', 481],
        ['Romance', 'Jerry Maguire (1996)', 384],
        ['Romance', 'Empire Strikes Back, The (1980)', 367]], dtype=object),
 array([['Sci-Fi', 'Star Wars (1977)', 583],
        ['Sci-Fi', 'Contact (1997)', 509],
        ['Sci-Fi', 'Return of the Jedi (1983)', 507],
        ['Sci-Fi', 'Independence Day (ID4) (1996)', 429],
        ['Sci-Fi', 'Twelve Monkeys (1995)', 392]], dtype=object),
 array([['Thriller', 'Fargo (1996)', 508],
        ['Thriller', 'Scream (1996)', 478],
        ['Thriller', 'Air Force One (1997)', 431],
        ['Thriller', 'Silence of the Lambs, The (1991)', 390],
        ['Thriller', 'Rock, The (1996)', 378]], dtype=object),
 array([['War', 'Star Wars (1977)', 583],
        ['War', 'Return of the Jedi (1983)', 507],
        ['War', 'English Patient, The (1996)', 481],
        ['War', 'Independence Day (ID4) (1996)', 429],
        ['War', 'Empire Strikes Back, The (1980)', 367]], dtype=object),
 array([['Western', 'Dances with Wolves (1990)', 256],
        ['Western', 'Butch Cassidy and the Sundance Kid (1969)', 216],
        ['Western', 'Unforgiven (1992)', 182],
        ['Western', 'Good, The Bad and The Ugly, The (1966)', 137],
        ['Western', 'Maverick (1994)', 128]], dtype=object)]

In [ ]:
#top_movies_categorywise=movie_cate_counts(movie_cate_df, ratings, 5)

In [ ]:
#flattened_df = movie_cate_df.explode('category')

In [ ]:
#flattened_df

In [ ]:
#flattened_df = flattened_df.rename(columns={'movie id': 'movie_id'})

In [ ]:
# = pd.merge(flattened_df, ratings, on='movie_id')

In [ ]:
#movie_ratings

In [ ]:
#movie_ratings=movie_ratings.drop('unix_timestamp',axis=1)

In [ ]:
#movie_ratings_user_counts = movie_ratings.groupby(['user_id', 'category', 'movie_id','movie title']).size().reset_index(name='count')

In [ ]:
#movie_ratings_user_counts

In [ ]:
#movie_category_count = movie_ratings_user_counts.groupby(['category', 'movie_id','movie title'])['user_id'].nunique().reset_index(name='count')

In [ ]:
#movie_category_count

In [ ]:
#sorted_movies = movie_category_count.sort_values(by=['category', 'count'], ascending=[True, False])

In [ ]:
#sorted_movies

In [ ]:
#top_5_movies_categorywise = sorted_movies.groupby('category').head(5).reset_index(drop=True)

In [ ]:
#top_5_movies_categorywise

In [ ]:
#unique_categories = top_5_movies_categorywise['category'].unique()

In [ ]:
#categories_list=list(unique_categories)

#recommend_movies=[]
for cate in categories_list:
    movie_with_count=top_5_movies_categorywise[top_5_movies_categorywise['category']==cate][['category','movie title','count']].values
    recommend_movies.append(movie_with_count)

In [ ]:
#recommend_movies