In [1]:
import pandas as pd
import numpy as np

In [2]:
#reading rating files
rate_cols=['user_id','movie_id','rating','unix_timestamp']
ratings=pd.read_csv('ml-100k/u.data',sep='\t',names=rate_cols,encoding='latin-1')
#Providing column names can be useful if the CSV file does not contain column headers

In [3]:
ratings

       user_id  movie_id  rating  unix_timestamp
0          196       242       3       881250949
1          186       302       3       891717742
2           22       377       1       878887116
3          244        51       2       880606923
4          166       346       1       886397596
...        ...       ...     ...             ...
99995      880       476       3       880175444
99996      716       204       5       879795543
99997      276      1090       1       874795795
99998       13       225       2       882399156
99999       12       203       3       879959583

[100000 rows x 4 columns]

In [4]:
n_users=ratings.user_id.unique().shape[0]
n_items=ratings.movie_id.unique().shape[0]

In [5]:
print("The number of users:",n_users)
print("The number of items:",n_items)

The number of users: 943
The number of items: 1682

# Create pivot table for user and movie basedon ratings

In [6]:
user_movie_table=ratings.pivot_table(index='user_id',columns='movie_id',values='rating')

In [7]:
user_movie_table

movie_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940,NaN,NaN,NaN,2.0,NaN,NaN,4.0,5.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
941,5.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
943,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#Replace nan with 0

In [8]:
user_movie_pivotTable=user_movie_table.replace(np.nan,0)

In [9]:
user_movie_pivotTable

movie_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
940,0.0,0.0,0.0,2.0,0.0,0.0,4.0,5.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
941,5.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
943,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Find Cosine Similatity for user and Item

In [10]:
from sklearn.metrics.pairwise import pairwise_distances
user_similarity=pairwise_distances(user_movie_pivotTable,metric='cosine')
item_similarity=pairwise_distances(user_movie_pivotTable.T,metric='cosine')

In [11]:
user_similarity

array([[2.22044605e-15, 8.33069016e-01, 9.52540457e-01, ...,
        8.51383057e-01, 8.20492117e-01, 6.01825261e-01],
       [8.33069016e-01, 0.00000000e+00, 8.89408675e-01, ...,
        8.38515222e-01, 8.27732187e-01, 8.94202122e-01],
       [9.52540457e-01, 8.89408675e-01, 0.00000000e+00, ...,
        8.98757435e-01, 8.66583851e-01, 9.73444131e-01],
       ...,
       [8.51383057e-01, 8.38515222e-01, 8.98757435e-01, ...,
        0.00000000e+00, 8.98358201e-01, 9.04880419e-01],
       [8.20492117e-01, 8.27732187e-01, 8.66583851e-01, ...,
        8.98358201e-01, 0.00000000e+00, 8.17535338e-01],
       [6.01825261e-01, 8.94202122e-01, 9.73444131e-01, ...,
        9.04880419e-01, 8.17535338e-01, 0.00000000e+00]])

In [12]:
item_similarity

array([[0.00000000e+00, 5.97617822e-01, 6.69755213e-01, ...,
        1.00000000e+00, 9.52816933e-01, 9.52816933e-01],
       [5.97617822e-01, 0.00000000e+00, 7.26930825e-01, ...,
        1.00000000e+00, 9.21700637e-01, 9.21700637e-01],
       [6.69755213e-01, 7.26930825e-01, 2.22044605e-16, ...,
        1.00000000e+00, 1.00000000e+00, 9.03124947e-01],
       ...,
       [1.00000000e+00, 1.00000000e+00, 1.00000000e+00, ...,
        0.00000000e+00, 1.00000000e+00, 1.00000000e+00],
       [9.52816933e-01, 9.21700637e-01, 1.00000000e+00, ...,
        1.00000000e+00, 0.00000000e+00, 1.00000000e+00],
       [9.52816933e-01, 9.21700637e-01, 9.03124947e-01, ...,
        1.00000000e+00, 1.00000000e+00, 0.00000000e+00]])

In [13]:
def predict(ratings, similarity, type='user'):
    if type == 'user':
        mean_user_rating = ratings.mean(axis=1)
        mean_user_rating_array = mean_user_rating.to_numpy()  # Convert Series to NumPy array
        
        mean_user_rating_column_vector = mean_user_rating_array.reshape(-1, 1)  # Reshape to a column vector

        #We use np.newaxis so that mean_user_rating has same format as ratings
        ratings_diff = (ratings - mean_user_rating_column_vector)
        # this operation subtracts the mean rating of each user from their respective ratings for each movie.
        pred = mean_user_rating_column_vector + similarity.dot(ratings_diff) / np.array([np.abs(similarity).sum(axis=1)]).T
    elif type == 'item':
        pred = ratings.dot(similarity) / np.array([np.abs(similarity).sum(axis=1)])
    return pred

In [14]:
user_prediction = predict(user_movie_pivotTable, user_similarity, type='user')
item_prediction = predict(user_movie_pivotTable, item_similarity, type='item')

In [15]:
user_prediction

array([[ 2.06532606,  0.73430275,  0.62992381, ...,  0.39359041,
         0.39304874,  0.3927712 ],
       [ 1.76308836,  0.38404019,  0.19617889, ..., -0.08837789,
        -0.0869183 , -0.08671183],
       [ 1.79590398,  0.32904733,  0.15882885, ..., -0.13699223,
        -0.13496852, -0.13476488],
       ...,
       [ 1.59151513,  0.27526889,  0.10219534, ..., -0.16735162,
        -0.16657451, -0.16641377],
       [ 1.81036267,  0.40479877,  0.27545013, ..., -0.00907358,
        -0.00846587, -0.00804858],
       [ 1.8384313 ,  0.47964837,  0.38496292, ...,  0.14686675,
         0.14629808,  0.14641455]])

### As per User based filtering ,first have to find similarity between the input user and others

In [16]:
input_user=4

In [17]:
user_sim_table=pd.DataFrame(user_similarity)

In [18]:
user_sim_table

,0,1,2,3,4,5,6,7,8,9,...,933,934,935,936,937,938,939,940,941,942
0,2.220446e-15,0.833069,0.952540,0.935642,6.215248e-01,0.569761,0.559633,0.680928,0.921862,0.623456,...,0.630473,0.880518,0.725124,0.810295,0.802674,0.881905,6.859280e-01,0.851383,0.820492,0.601825
1,8.330690e-01,0.000000,0.889409,0.821879,9.270210e-01,0.754157,0.892672,0.896656,0.838952,0.840138,...,0.843014,0.692058,0.641211,0.575954,0.680111,0.771417,7.732100e-01,0.838515,0.827732,0.894202
2,9.525405e-01,0.889409,0.000000,0.655849,9.787555e-01,0.927585,0.933863,0.916940,0.938960,0.934849,...,0.968125,0.957247,0.836171,0.930962,0.875755,0.973729,8.381099e-01,0.898757,0.866584,0.973444
3,9.356422e-01,0.821879,0.655849,0.000000,9.681958e-01,0.931956,0.908770,0.811940,0.898716,0.939141,...,0.947893,0.963216,0.866885,0.806529,0.853942,0.969862,8.031418e-01,0.847959,0.829914,0.941248
4,6.215248e-01,0.927021,0.978755,0.968196,1.110223e-16,0.762714,0.626400,0.751070,0.943153,0.798573,...,0.661206,0.919420,0.905076,0.920221,0.851393,0.928541,7.600453e-01,0.860405,0.847503,0.686059
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,8.819047e-01,0.771417,0.973729,0.969862,9.285415e-01,0.888148,0.892973,0.904102,0.960148,0.928540,...,0.933961,0.568846,0.741979,0.773551,0.567334,0.000000,9.123129e-01,0.819971,0.956736,0.855750
939,6.859280e-01,0.773210,0.838110,0.803142,7.600453e-01,0.647551,0.670075,0.753117,0.879505,0.657039,...,0.672847,0.892976,0.812464,0.818683,0.824842,0.912313,2.220446e-16,0.854848,0.738624,0.758972
940,8.513831e-01,0.838515,0.898757,0.847959,8.604049e-01,0.855554,0.940007,0.853855,0.856755,0.909695,...,0.953048,0.796699,0.711682,0.765789,0.686600,0.819971,8.548477e-01,0.000000,0.898358,0.904880
941,8.204921e-01,0.827732,0.866584,0.829914,8.475026e-01,0.682672,0.717997,0.824678,0.907503,0.787670,...,0.773560,0.926487,0.910412,0.870446,0.900615,0.956736,7.386238e-01,0.898358,0.000000,0.817535
942,6.018253e-01,0.894202,0.973444,0.941248,6.860592e-01,0.723958,0.605636,0.700191,0.924383,0.778140,...,0.736209,0.789237,0.856747,0.922207,0.797756,0.855750,7.589723e-01,0.904880,0.817535,0.000000

In [19]:
#to find the similar users
similar_input_user= user_sim_table[input_user].sort_values(ascending=True).head(5).index

In [20]:
similar_input_user

Index([4, 306, 647, 406, 496], dtype='int64')

In [21]:
#coverting to list - will be useful at the time of comparision
similar_user_input=list(similar_input_user)

In [22]:
#5. Using similar_user_input,can select movie id from ratings table
similar_user_movieid_list=[]
for sim_user in similar_user_input:
    sim=list(ratings[ratings['user_id']==sim_user]['movie_id'])
    #For example, if you want to perform list operations like indexing, slicing, or iterating over the movie IDs,
   #it's often more straightforward to work with a list object than a pandas Series.
    similar_user_movieid_list.append(sim)

In [23]:
len(similar_user_movieid_list)

5

In [24]:
similar_user_movieid_list

[[264,
  303,
  361,
  357,
  260,
  356,
  294,
  288,
  50,
  354,
  271,
  300,
  328,
  258,
  210,
  329,
  11,
  327,
  324,
  359,
  362,
  358,
  360,
  301],
 [235,
  287,
  14,
  242,
  864,
  275,
  319,
  1009,
  306,
  476,
  100,
  744,
  13,
  116,
  269,
  150,
  25,
  321,
  756,
  111,
  286,
  283,
  1514,
  258,
  19,
  303,
  1251,
  1028,
  257,
  289,
  285,
  741],
 [554,
  748,
  326,
  604,
  588,
  631,
  117,
  490,
  222,
  328,
  705,
  250,
  134,
  291,
  427,
  742,
  255,
  993,
  257,
  72,
  22,
  403,
  213,
  231,
  88,
  831,
  121,
  70,
  568,
  1047,
  15,
  1014,
  237,
  203,
  357,
  173,
  71,
  79,
  73,
  405,
  496,
  1263,
  29,
  77,
  177,
  1063,
  197,
  300,
  82,
  1016,
  294,
  196,
  202,
  136,
  402,
  298,
  147,
  174],
 [48,
  479,
  664,
  823,
  962,
  239,
  156,
  318,
  496,
  605,
  85,
  1126,
  429,
  488,
  651,
  645,
  14,
  463,
  58,
  469,
  419,
  436,
  186,
  608,
  588,
  501,
  640,
  317,
  213,
  523,
  12,
  701,
  414,
  195,
  662,
  745,
  612,
  1047,
  482,
  675,
  396,
  503,
  642,
  199,
  527,
  181,
  79,
  435,
  209,
  443,
  99,
  40,
  410,
  1010,
  188,
  50,
  826,
  942,
  1267,
  732,
  164,
  647,
  238,
  591,
  713,
  490,
  511,
  24,
  22,
  127,
  187,
  1008,
  69,
  825,
  183,
  7,
  515,
  633,
  692,
  30,
  735,
  25,
  42,
  589,
  787,
  1021,
  93,
  430,
  275,
  769,
  526,
  453,
  481,
  715,
  634,
  737,
  756,
  476,
  28,
  831,
  596,
  222,
  63,
  431,
  3,
  427,
  514,
  921,
  461,
  923,
  172,
  175,
  632,
  135,
  148,
  276,
  641,
  71,
  215,
  204,
  219,
  1202,
  474,
  198,
  772,
  508,
  206,
  179,
  211,
  529,
  652,
  235,
  411,
  4,
  168,
  468,
  174,
  519,
  1220,
  202,
  133,
  173,
  421,
  117,
  240,
  357,
  212,
  434,
  559,
  234,
  705,
  20,
  274,
  746,
  72,
  1065,
  699,
  428,
  960,
  498,
  813,
  1118,
  125,
  573,
  381,
  452,
  693,
  13,
  190,
  89,
  543,
  203,
  64,
  945,
  607,
  624,
  404,
  87,
  52,
  639,
  712,
  520,
  517,
  665,
  919,
  131,
  845,
  487,
  451,
  5,
  8,
  638,
  504,
  524,
  143,
  505,
  610,
  237,
  220,
  747,
  92,
  53,
  123,
  405,
  663,
  39,
  1194,
  151,
  136,
  575,
  194,
  1,
  228,
  611,
  11,
  1203,
  480,
  134,
  727,
  96,
  289,
  368,
  158,
  499,
  561,
  218,
  478,
  447,
  284,
  196,
  115,
  47,
  277,
  182,
  15,
  191,
  153,
  420,
  121,
  655,
  509,
  129,
  32,
  170,
  10,
  152,
  86,
  418,
  528,
  507,
  672,
  132,
  606,
  582,
  485,
  491,
  660,
  180,
  122,
  629,
  521,
  433,
  208,
  492,
  216,
  23,
  558,
  724,
  444,
  602,
  193,
  565,
  88,
  513,
  702,
  282,
  466,
  281,
  924,
  73,
  1197,
  97,
  163,
  563,
  150,
  285,
  806,
  130,
  709,
  70,
  197,
  670,
  661,
  472,
  657,
  100,
  124,
  483,
  604,
  531,
  506,
  176,
  569,
  631,
  671,
  1073,
  432,
  1170,
  57,
  1109,
  372,
  56,
  425,
  9,
  1101,
  1153,
  207,
  1147,
  95,
  502,
  674,
  185,
  367,
  1079,
  210,
  294,
  462,
  144,
  382,
  184,
  157,
  26,
  98,
  286,
  101,
  601,
  154,
  205,
  217,
  393,
  654,
  971],
 [142,
  64,
  526,
  132,
  1074,
  183,
  318,
  156,
  633,
  97,
  380,
  154,
  727,
  1133,
  921,
  38,
  1401,
  1444,
  746,
  42,
  1473,
  420,
  11,
  141,
  87,
  39,
  181,
  136,
  135,
  222,
  1063,
  99,
  509,
  625,
  17,
  480,
  229,
  7,
  228,
  659,
  528,
  77,
  774,
  378,
  133,
  532,
  432,
  246,
  561,
  554,
  89,
  418,
  33,
  50,
  173,
  164,
  1459,
  172,
  1614,
  1139,
  825,
  158,
  143,
  53,
  191,
  356,
  204,
  227,
  433,
  1286,
  98,
  96,
  56,
  1060,
  186,
  485,
  109,
  268,
  421,
  1229,
  10,
  607,
  393,
  484,
  417,
  147,
  469,
  743,
  288,
  150,
  961,
  842,
  495,
  652,
  174,
  277,
  705,
  483,
  559,
  721,
  651,
  28,
  190,
  771,
  22,
  94,
  168,
  155,
  1157,
  195,
  496,
  443,
  506,
  196,
  699,
  252,
  426,
  416,
  68,
  333,
  151,
  1091,
  206,
  1041,
  217,
  661,
  88,
  419,
  660]]

In [25]:
#6. Convert all the list as single
import itertools
similar_user_movieid_single_list=list(itertools.chain.from_iterable(similar_user_movieid_list))
#similar_user_movieid_list is a list of lists like [[1, 2, 3], [4, 5, 6], [7, 8, 9]], 
#this expression will create an iterator that yields 1, 2, 3, 4, 5, 6, 7, 8, 9.

In [26]:
len(similar_user_movieid_single_list)

585

In [27]:
#Unique movieid from the list
Unique_movieid_similar_user=set(similar_user_movieid_single_list)
#In Python, sets are collections of unique elements, meaning they only contain distinct values.

In [28]:
Unique_movieid_similar_user

{1,
 3,
 4,
 5,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 17,
 19,
 20,
 22,
 23,
 24,
 25,
 26,
 28,
 29,
 30,
 32,
 33,
 38,
 39,
 40,
 42,
 47,
 48,
 50,
 52,
 53,
 56,
 57,
 58,
 63,
 64,
 68,
 69,
 70,
 71,
 72,
 73,
 77,
 79,
 82,
 85,
 86,
 87,
 88,
 89,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 109,
 111,
 115,
 116,
 117,
 121,
 122,
 123,
 124,
 125,
 127,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 141,
 142,
 143,
 144,
 147,
 148,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 163,
 164,
 168,
 170,
 172,
 173,
 174,
 175,
 176,
 177,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 190,
 191,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 215,
 216,
 217,
 218,
 219,
 220,
 222,
 227,
 228,
 229,
 231,
 234,
 235,
 237,
 238,
 239,
 240,
 242,
 246,
 250,
 252,
 255,
 257,
 258,
 260,
 264,
 268,
 269,
 271,
 274,
 275,
 276,
 277,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 291,
 294,
 298,
 300,
 301,
 303,
 306,
 317,
 318,
 319,
 321,
 324,
 326,
 327,
 328,
 329,
 333,
 354,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 367,
 368,
 372,
 378,
 380,
 381,
 382,
 393,
 396,
 402,
 403,
 404,
 405,
 410,
 411,
 414,
 416,
 417,
 418,
 419,
 420,
 421,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 443,
 444,
 447,
 451,
 452,
 453,
 461,
 462,
 463,
 466,
 468,
 469,
 472,
 474,
 476,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 487,
 488,
 490,
 491,
 492,
 495,
 496,
 498,
 499,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 511,
 513,
 514,
 515,
 517,
 519,
 520,
 521,
 523,
 524,
 526,
 527,
 528,
 529,
 531,
 532,
 543,
 554,
 558,
 559,
 561,
 563,
 565,
 568,
 569,
 573,
 575,
 582,
 588,
 589,
 591,
 596,
 601,
 602,
 604,
 605,
 606,
 607,
 608,
 610,
 611,
 612,
 624,
 625,
 629,
 631,
 632,
 633,
 634,
 638,
 639,
 640,
 641,
 642,
 645,
 647,
 651,
 652,
 654,
 655,
 657,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 670,
 671,
 672,
 674,
 675,
 692,
 693,
 699,
 701,
 702,
 705,
 709,
 712,
 713,
 715,
 721,
 724,
 727,
 732,
 735,
 737,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 756,
 769,
 771,
 772,
 774,
 787,
 806,
 813,
 823,
 825,
 826,
 831,
 842,
 845,
 864,
 919,
 921,
 923,
 924,
 942,
 945,
 960,
 961,
 962,
 971,
 993,
 1008,
 1009,
 1010,
 1014,
 1016,
 1021,
 1028,
 1041,
 1047,
 1060,
 1063,
 1065,
 1073,
 1074,
 1079,
 1091,
 1101,
 1109,
 1118,
 1126,
 1133,
 1139,
 1147,
 1153,
 1157,
 1170,
 1194,
 1197,
 1202,
 1203,
 1220,
 1229,
 1251,
 1263,
 1267,
 1286,
 1401,
 1444,
 1459,
 1473,
 1514,
 1614}

In [29]:
input_user_watched_movieid=list(ratings[ratings['user_id']==input_user]['movie_id'].values)

In [30]:
input_user_watched_movieid

[264,
 303,
 361,
 357,
 260,
 356,
 294,
 288,
 50,
 354,
 271,
 300,
 328,
 258,
 210,
 329,
 11,
 327,
 324,
 359,
 362,
 358,
 360,
 301]

In [31]:
#9. Create a list which should have recom movieid to the input user
recom=[]
for per_id in Unique_movieid_similar_user:
    if(per_id in input_user_watched_movieid):
        pass
        #Using pass in Python simply means "do nothing". It's a placeholder statement that does not execute any code.
    else:
        recom.append(per_id)

In [32]:
sorted(recom)

[1,
 3,
 4,
 5,
 7,
 8,
 9,
 10,
 12,
 13,
 14,
 15,
 17,
 19,
 20,
 22,
 23,
 24,
 25,
 26,
 28,
 29,
 30,
 32,
 33,
 38,
 39,
 40,
 42,
 47,
 48,
 52,
 53,
 56,
 57,
 58,
 63,
 64,
 68,
 69,
 70,
 71,
 72,
 73,
 77,
 79,
 82,
 85,
 86,
 87,
 88,
 89,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 109,
 111,
 115,
 116,
 117,
 121,
 122,
 123,
 124,
 125,
 127,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 141,
 142,
 143,
 144,
 147,
 148,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 163,
 164,
 168,
 170,
 172,
 173,
 174,
 175,
 176,
 177,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 190,
 191,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 211,
 212,
 213,
 215,
 216,
 217,
 218,
 219,
 220,
 222,
 227,
 228,
 229,
 231,
 234,
 235,
 237,
 238,
 239,
 240,
 242,
 246,
 250,
 252,
 255,
 257,
 268,
 269,
 274,
 275,
 276,
 277,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 289,
 291,
 298,
 306,
 317,
 318,
 319,
 321,
 326,
 333,
 367,
 368,
 372,
 378,
 380,
 381,
 382,
 393,
 396,
 402,
 403,
 404,
 405,
 410,
 411,
 414,
 416,
 417,
 418,
 419,
 420,
 421,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 443,
 444,
 447,
 451,
 452,
 453,
 461,
 462,
 463,
 466,
 468,
 469,
 472,
 474,
 476,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 487,
 488,
 490,
 491,
 492,
 495,
 496,
 498,
 499,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 511,
 513,
 514,
 515,
 517,
 519,
 520,
 521,
 523,
 524,
 526,
 527,
 528,
 529,
 531,
 532,
 543,
 554,
 558,
 559,
 561,
 563,
 565,
 568,
 569,
 573,
 575,
 582,
 588,
 589,
 591,
 596,
 601,
 602,
 604,
 605,
 606,
 607,
 608,
 610,
 611,
 612,
 624,
 625,
 629,
 631,
 632,
 633,
 634,
 638,
 639,
 640,
 641,
 642,
 645,
 647,
 651,
 652,
 654,
 655,
 657,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 670,
 671,
 672,
 674,
 675,
 692,
 693,
 699,
 701,
 702,
 705,
 709,
 712,
 713,
 715,
 721,
 724,
 727,
 732,
 735,
 737,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 756,
 769,
 771,
 772,
 774,
 787,
 806,
 813,
 823,
 825,
 826,
 831,
 842,
 845,
 864,
 919,
 921,
 923,
 924,
 942,
 945,
 960,
 961,
 962,
 971,
 993,
 1008,
 1009,
 1010,
 1014,
 1016,
 1021,
 1028,
 1041,
 1047,
 1060,
 1063,
 1065,
 1073,
 1074,
 1079,
 1091,
 1101,
 1109,
 1118,
 1126,
 1133,
 1139,
 1147,
 1153,
 1157,
 1170,
 1194,
 1197,
 1202,
 1203,
 1220,
 1229,
 1251,
 1263,
 1267,
 1286,
 1401,
 1444,
 1459,
 1473,
 1514,
 1614]

In [33]:
sorted(Unique_movieid_similar_user)

[1,
 3,
 4,
 5,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 17,
 19,
 20,
 22,
 23,
 24,
 25,
 26,
 28,
 29,
 30,
 32,
 33,
 38,
 39,
 40,
 42,
 47,
 48,
 50,
 52,
 53,
 56,
 57,
 58,
 63,
 64,
 68,
 69,
 70,
 71,
 72,
 73,
 77,
 79,
 82,
 85,
 86,
 87,
 88,
 89,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 109,
 111,
 115,
 116,
 117,
 121,
 122,
 123,
 124,
 125,
 127,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 141,
 142,
 143,
 144,
 147,
 148,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 163,
 164,
 168,
 170,
 172,
 173,
 174,
 175,
 176,
 177,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 190,
 191,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 215,
 216,
 217,
 218,
 219,
 220,
 222,
 227,
 228,
 229,
 231,
 234,
 235,
 237,
 238,
 239,
 240,
 242,
 246,
 250,
 252,
 255,
 257,
 258,
 260,
 264,
 268,
 269,
 271,
 274,
 275,
 276,
 277,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 291,
 294,
 298,
 300,
 301,
 303,
 306,
 317,
 318,
 319,
 321,
 324,
 326,
 327,
 328,
 329,
 333,
 354,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 367,
 368,
 372,
 378,
 380,
 381,
 382,
 393,
 396,
 402,
 403,
 404,
 405,
 410,
 411,
 414,
 416,
 417,
 418,
 419,
 420,
 421,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 443,
 444,
 447,
 451,
 452,
 453,
 461,
 462,
 463,
 466,
 468,
 469,
 472,
 474,
 476,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 487,
 488,
 490,
 491,
 492,
 495,
 496,
 498,
 499,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 511,
 513,
 514,
 515,
 517,
 519,
 520,
 521,
 523,
 524,
 526,
 527,
 528,
 529,
 531,
 532,
 543,
 554,
 558,
 559,
 561,
 563,
 565,
 568,
 569,
 573,
 575,
 582,
 588,
 589,
 591,
 596,
 601,
 602,
 604,
 605,
 606,
 607,
 608,
 610,
 611,
 612,
 624,
 625,
 629,
 631,
 632,
 633,
 634,
 638,
 639,
 640,
 641,
 642,
 645,
 647,
 651,
 652,
 654,
 655,
 657,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 670,
 671,
 672,
 674,
 675,
 692,
 693,
 699,
 701,
 702,
 705,
 709,
 712,
 713,
 715,
 721,
 724,
 727,
 732,
 735,
 737,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 756,
 769,
 771,
 772,
 774,
 787,
 806,
 813,
 823,
 825,
 826,
 831,
 842,
 845,
 864,
 919,
 921,
 923,
 924,
 942,
 945,
 960,
 961,
 962,
 971,
 993,
 1008,
 1009,
 1010,
 1014,
 1016,
 1021,
 1028,
 1041,
 1047,
 1060,
 1063,
 1065,
 1073,
 1074,
 1079,
 1091,
 1101,
 1109,
 1118,
 1126,
 1133,
 1139,
 1147,
 1153,
 1157,
 1170,
 1194,
 1197,
 1202,
 1203,
 1220,
 1229,
 1251,
 1263,
 1267,
 1286,
 1401,
 1444,
 1459,
 1473,
 1514,
 1614]

In [34]:
# Cross Checking
sorted(input_user_watched_movieid)

[11,
 50,
 210,
 258,
 260,
 264,
 271,
 288,
 294,
 300,
 301,
 303,
 324,
 327,
 328,
 329,
 354,
 356,
 357,
 358,
 359,
 360,
 361,
 362]

In [35]:
# Checking the common movie list
list(set(Unique_movieid_similar_user)&set(input_user_watched_movieid))

[258,
 260,
 264,
 11,
 271,
 288,
 294,
 300,
 301,
 303,
 50,
 324,
 327,
 328,
 329,
 210,
 354,
 356,
 357,
 358,
 359,
 360,
 361,
 362]

In [36]:
user_pred=pd.DataFrame(user_prediction)

In [37]:
user_pred

,0,1,2,3,4,5,6,7,8,9,...,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681
0,2.065326,0.734303,0.629924,1.010669,0.640686,0.476150,1.784569,1.163032,1.513350,0.704478,...,0.394041,0.394434,0.393981,0.392972,0.393344,0.392272,0.394909,0.393590,0.393049,0.392771
1,1.763088,0.384040,0.196179,0.731538,0.225643,0.003892,1.493597,0.876153,1.108467,0.261991,...,-0.086942,-0.085491,-0.087137,-0.088158,-0.087298,-0.089288,-0.087468,-0.088378,-0.086918,-0.086712
2,1.795904,0.329047,0.158829,0.684154,0.173277,-0.035621,1.488230,0.835769,1.135426,0.236383,...,-0.134795,-0.133537,-0.135543,-0.136438,-0.135041,-0.137611,-0.136374,-0.136992,-0.134969,-0.134765
3,1.729951,0.293913,0.127741,0.644932,0.142143,-0.062261,1.437010,0.796249,1.096663,0.211789,...,-0.161413,-0.160220,-0.161542,-0.162586,-0.161634,-0.163877,-0.162283,-0.163080,-0.161442,-0.161248
4,1.796651,0.454474,0.354422,0.763130,0.359539,0.195987,1.547370,0.908904,1.292027,0.437954,...,0.101762,0.102405,0.101923,0.100839,0.101711,0.099951,0.102515,0.101233,0.101075,0.101201
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,1.676950,0.346339,0.177518,0.689906,0.199740,0.003297,1.429565,0.830905,1.070986,0.262183,...,-0.092434,-0.091197,-0.092851,-0.093801,-0.092953,-0.094539,-0.092217,-0.093378,-0.092686,-0.092423
939,1.822346,0.419125,0.286430,0.715605,0.294442,0.106633,1.514591,0.853050,1.195304,0.359260,...,0.014060,0.014688,0.014123,0.013060,0.013669,0.011978,0.014065,0.013021,0.013639,0.013796
940,1.591515,0.275269,0.102195,0.624383,0.133762,-0.069553,1.320734,0.765529,1.035088,0.192697,...,-0.166179,-0.164981,-0.166278,-0.167392,-0.166679,-0.168486,-0.166217,-0.167352,-0.166575,-0.166414
941,1.810363,0.404799,0.275450,0.726616,0.281316,0.087068,1.550310,0.850057,1.205745,0.342987,...,-0.008362,-0.007757,-0.008225,-0.009218,-0.008232,-0.010138,-0.008009,-0.009074,-0.008466,-0.008049
942,1.838431,0.479648,0.384963,0.780521,0.388442,0.240998,1.564232,0.946704,1.289865,0.487383,...,0.147027,0.148208,0.147193,0.146199,0.146916,0.145539,0.148194,0.146867,0.146298,0.146415

In [38]:
user_pred_Trans=user_pred.T

In [39]:
user_pred_Trans

,0,1,2,3,4,5,6,7,8,9,...,933,934,935,936,937,938,939,940,941,942
0,2.065326,1.763088,1.795904,1.729951,1.796651,1.996889,2.466055,1.693486,1.681165,2.021688,...,1.924844,1.619096,1.891812,1.696368,1.717658,1.676950,1.822346,1.591515,1.810363,1.838431
1,0.734303,0.384040,0.329047,0.293913,0.454474,0.651172,1.099186,0.296285,0.279528,0.650911,...,0.552456,0.311680,0.550513,0.322611,0.431368,0.346339,0.419125,0.275269,0.404799,0.479648
2,0.629924,0.196179,0.158829,0.127741,0.354422,0.528276,1.016489,0.195398,0.121887,0.530669,...,0.451194,0.140613,0.354913,0.144344,0.247851,0.177518,0.286430,0.102195,0.275450,0.384963
3,1.010669,0.731538,0.684154,0.644932,0.763130,0.921054,1.362861,0.612075,0.616094,0.916215,...,0.834176,0.661829,0.893214,0.662304,0.783208,0.689906,0.715605,0.624383,0.726616,0.780521
4,0.640686,0.225643,0.173277,0.142143,0.359539,0.537388,1.006458,0.198638,0.136368,0.531720,...,0.455212,0.166992,0.398759,0.167841,0.283796,0.199740,0.294442,0.133762,0.281316,0.388442
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,0.392272,-0.089288,-0.137611,-0.163877,0.099951,0.259848,0.764340,-0.072866,-0.163505,0.263527,...,0.185602,-0.128949,0.095681,-0.143177,-0.009425,-0.094539,0.011978,-0.168486,-0.010138,0.145539
1678,0.394909,-0.087468,-0.136374,-0.162283,0.102515,0.262375,0.766967,-0.070435,-0.161425,0.266037,...,0.188059,-0.126624,0.097792,-0.141018,-0.007085,-0.092217,0.014065,-0.166217,-0.008009,0.148194
1679,0.393590,-0.088378,-0.136992,-0.163080,0.101233,0.261111,0.765654,-0.071651,-0.162465,0.264782,...,0.186831,-0.127786,0.096736,-0.142097,-0.008255,-0.093378,0.013021,-0.167352,-0.009074,0.146867
1680,0.393049,-0.086918,-0.134969,-0.161442,0.101075,0.261061,0.764983,-0.071744,-0.161396,0.264589,...,0.186850,-0.127045,0.097826,-0.140977,-0.007621,-0.092686,0.013639,-0.166575,-0.008466,0.146298
1681,0.392771,-0.086712,-0.134765,-0.161248,0.101201,0.261089,0.765165,-0.071357,-0.161430,0.264781,...,0.186858,-0.126812,0.097654,-0.140965,-0.007369,-0.092423,0.013796,-0.166414,-0.008049,0.146415

In [40]:
user_pred_Trans[4]

0       1.796651
1       0.454474
2       0.354422
3       0.763130
4       0.359539
          ...
1677    0.099951
1678    0.102515
1679    0.101233
1680    0.101075
1681    0.101201
Name: 4, Length: 1682, dtype: float64

In [41]:
gg=user_pred_Trans[34]

In [42]:
gg

0       1.740469
1       0.283366
2       0.114987
3       0.645096
4       0.127844
          ...
1677   -0.183977
1678   -0.182367
1679   -0.183172
1680   -0.181400
1681   -0.181306
Name: 34, Length: 1682, dtype: float64

In [43]:
g=pd.DataFrame(gg)

In [44]:
g

            34
0     1.740469
1     0.283366
2     0.114987
3     0.645096
4     0.127844
...        ...
1677 -0.183977
1678 -0.182367
1679 -0.183172
1680 -0.181400
1681 -0.181306

[1682 rows x 1 columns]

In [45]:
transpose_input_user4=g.T

In [46]:
transpose_input_user4

,0,1,2,3,4,5,6,7,8,9,...,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681
34,1.740469,0.283366,0.114987,0.645096,0.127844,-0.081329,1.448638,0.794313,1.08901,0.194232,...,-0.181256,-0.180156,-0.181837,-0.182819,-0.181432,-0.183977,-0.182367,-0.183172,-0.1814,-0.181306

In [47]:
transpose_input_user4[187].values >=0.4

array([ True])

In [48]:
# From recomd list select hightest rated film which would like by the user. Based on User prediction
highest_Rated=[]
input_user_pre=pd.DataFrame(user_pred_Trans[input_user])
input_user_pred=input_user_pre.T
for re in recom:
    value=input_user_pred[re].values
    if(value>=1):
        highest_Rated.append(re)

In [49]:
len(highest_Rated)

39

In [50]:
# Now we give movieid respective movie list
i_cols = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
items = pd.read_csv('ml-100k/u.item', sep='|', names=i_cols,
encoding='latin-1')

In [51]:
#Creating Movie List based on recom movieid
movie_title=[]
for movieid in highest_Rated:
    mov=items[items['movie id']==movieid]['movie title'].values
    movie_title.append(mov)

In [52]:
movie_title

[array(['Babe (1995)'], dtype=object),
 array(['Postino, Il (1994)'], dtype=object),
 array(['Rumble in the Bronx (1995)'], dtype=object),
 array(['Santa Clause, The (1994)'], dtype=object),
 array(['Crow, The (1994)'], dtype=object),
 array(['Sleepless in Seattle (1993)'], dtype=object),
 array(['Aladdin (1992)'], dtype=object),
 array(['Dances with Wolves (1990)'], dtype=object),
 array(['Snow White and the Seven Dwarfs (1937)'], dtype=object),
 array(['Cold Comfort Farm (1995)'], dtype=object),
 array(['Rock, The (1996)'], dtype=object),
 array(["Breakfast at Tiffany's (1961)"], dtype=object),
 array(['Citizen Kane (1941)'], dtype=object),
 array(['Swingers (1996)'], dtype=object),
 array(['Empire Strikes Back, The (1980)'], dtype=object),
 array(['Princess Bride, The (1987)'], dtype=object),
 array(['Brazil (1985)'], dtype=object),
 array(['Apocalypse Now (1979)'], dtype=object),
 array(['GoodFellas (1990)'], dtype=object),
 array(['Army of Darkness (1993)'], dtype=object),
 array(['Henry V (1989)'], dtype=object),
 array(['Sting, The (1973)'], dtype=object),
 array(['Dead Poets Society (1989)'], dtype=object),
 array(['Unforgiven (1992)'], dtype=object),
 array(['This Is Spinal Tap (1984)'], dtype=object),
 array(['Field of Dreams (1989)'], dtype=object),
 array(['Jerry Maguire (1996)'], dtype=object),
 array(['Men in Black (1997)'], dtype=object),
 array(['Chasing Amy (1997)'], dtype=object),
 array(['Sabrina (1995)'], dtype=object),
 array(['Sense and Sensibility (1995)'], dtype=object),
 array(['Secrets & Lies (1996)'], dtype=object),
 array(["Marvin's Room (1996)"], dtype=object),
 array(['In the Name of the Father (1993)'], dtype=object),
 array(['Pinocchio (1940)'], dtype=object),
 array(['Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)'],
       dtype=object),
 array(['Some Like It Hot (1959)'], dtype=object),
 array(['Last Supper, The (1995)'], dtype=object),
 array(['Benny & Joon (1993)'], dtype=object)]

In [53]:
#Converting into pure list
movie_title_list=[]
for m in movie_title:
    print(m)
    mv=list(m)
    movie_title_list.append(mv)

['Babe (1995)']
['Postino, Il (1994)']
['Rumble in the Bronx (1995)']
['Santa Clause, The (1994)']
['Crow, The (1994)']
['Sleepless in Seattle (1993)']
['Aladdin (1992)']
['Dances with Wolves (1990)']
['Snow White and the Seven Dwarfs (1937)']
['Cold Comfort Farm (1995)']
['Rock, The (1996)']
["Breakfast at Tiffany's (1961)"]
['Citizen Kane (1941)']
['Swingers (1996)']
['Empire Strikes Back, The (1980)']
['Princess Bride, The (1987)']
['Brazil (1985)']
['Apocalypse Now (1979)']
['GoodFellas (1990)']
['Army of Darkness (1993)']
['Henry V (1989)']
['Sting, The (1973)']
['Dead Poets Society (1989)']
['Unforgiven (1992)']
['This Is Spinal Tap (1984)']
['Field of Dreams (1989)']
['Jerry Maguire (1996)']
['Men in Black (1997)']
['Chasing Amy (1997)']
['Sabrina (1995)']
['Sense and Sensibility (1995)']
['Secrets & Lies (1996)']
["Marvin's Room (1996)"]
['In the Name of the Father (1993)']
['Pinocchio (1940)']
['Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)']
['Some Like It Hot (1959)']
['Last Supper, The (1995)']
['Benny & Joon (1993)']

In [54]:
#Converting into whole list
import itertools
Final_Recommend_movie=list(itertools.chain.from_iterable(movie_title_list))

In [55]:
Final_Recommend_movie

['Babe (1995)',
 'Postino, Il (1994)',
 'Rumble in the Bronx (1995)',
 'Santa Clause, The (1994)',
 'Crow, The (1994)',
 'Sleepless in Seattle (1993)',
 'Aladdin (1992)',
 'Dances with Wolves (1990)',
 'Snow White and the Seven Dwarfs (1937)',
 'Cold Comfort Farm (1995)',
 'Rock, The (1996)',
 "Breakfast at Tiffany's (1961)",
 'Citizen Kane (1941)',
 'Swingers (1996)',
 'Empire Strikes Back, The (1980)',
 'Princess Bride, The (1987)',
 'Brazil (1985)',
 'Apocalypse Now (1979)',
 'GoodFellas (1990)',
 'Army of Darkness (1993)',
 'Henry V (1989)',
 'Sting, The (1973)',
 'Dead Poets Society (1989)',
 'Unforgiven (1992)',
 'This Is Spinal Tap (1984)',
 'Field of Dreams (1989)',
 'Jerry Maguire (1996)',
 'Men in Black (1997)',
 'Chasing Amy (1997)',
 'Sabrina (1995)',
 'Sense and Sensibility (1995)',
 'Secrets & Lies (1996)',
 "Marvin's Room (1996)",
 'In the Name of the Father (1993)',
 'Pinocchio (1940)',
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)',
 'Some Like It Hot (1959)',
 'Last Supper, The (1995)',
 'Benny & Joon (1993)']

In [56]:
#checking the common movie list
list(set(recom)&set(input_user_watched_movieid))

[]

In [65]:
def userBased(input_user,user_similarity,user_predictions,similar_user_count,thres):
#Convert the user_sim table into DataFrame
    user_similar_table=pd.DataFrame(user_similarity)
    #Find similarity user for 78 using cosine table
    similar_input_user=user_similar_table[input_user].sort_values(ascending=True).head(similar_user_count).index
    #Convert in to list
    similar_user_input=list(similar_input_user) 
    similar_user_movieid_list=[]
    for sim_user in similar_user_input:
        sim=list(ratings[ratings['user_id']==sim_user]['movie_id'])
        similar_user_movieid_list.append(sim)
    #Converting as a whole list
    import itertools
    similar_user_moviid_single_list=list(itertools.chain.from_iterable(similar_user_movieid_list))
    #Unique movieid from the list
    unique_similar_user_moviid_single_list=set(similar_user_moviid_single_list)
    #Input user watched movie_list
    input_user_watched_movie_list=list(ratings[ratings['user_id']==input_user]['movie_id'].values)
    #Create a list which should have recom movieid to the input user
    recom=[]
    for per_id in unique_similar_user_moviid_single_list:
        if(per_id in input_user_watched_movie_list):
            pass
        else:
            recom.append(per_id)
    #From recommendation list selecting only hightest rated(predicted) value
    highest_Rated=[]
    user_pred_Trans=user_pred.T
    input_user_pre=pd.DataFrame(user_pred_Trans[input_user])
    input_user_pred=input_user_pre.T
    for re in recom:
        value=input_user_pred[re].values
        if(value>=thres):
            highest_Rated.append(re)        
    i_cols = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
    'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
    'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
    items = pd.read_csv('ml-100k/u.item', sep='|', names=i_cols,encoding='latin-1')
    #Creating Movie List based on recom movieid
    movie_title=[]
    for movieid in highest_Rated:
        mov=items[items['movie id']==movieid]['movie title'].values
        movie_title.append(mov)
    #Converting into pure list
    movie_title_list=[]
    for m in movie_title:
        print(m)
        mv=list(m)
        movie_title_list.append(mv)
    #Converting into whole list
    import itertools
    Final_Recommend_movie=list(itertools.chain.from_iterable(movie_title_list))
    print("The common Movie in Recom & User:",list(set(recom)&set(input_user_watched_movie_list)))
    return Final_Recommend_movie

In [66]:
#def userbased(input_user,user_similarity,user_predictions,similar_user_count,similar_user_movieid_count,thres):
Recommended_movie=userBased(67,user_similarity,user_pred,5,1.5)

['Professional, The (1994)']
['Dances with Wolves (1990)']
['Snow White and the Seven Dwarfs (1937)']
['Princess Bride, The (1987)']
['Apocalypse Now (1979)']
['Men in Black (1997)']
["Marvin's Room (1996)"]
The common Movie in Recom & User: []

In [64]:
len(Recommended_movie)

7